.section   {
    border: 1px solid black;
}
.details_left{
    width: 60%;
    border: 1px solid red;
}
.details_desc{
    width: 93.7%;
    font-size: .9rem;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px grey;
}
.details_cont{
    color: grey;
    display: flex;
    gap: 20px;
    font-size: .9rem;
    margin: 10px 0px 20px 0px;
}
.details_desc > p{
    margin-top: 20px;
}
.details_desc i{
    color: black;
}